{% extends "base_admin.html" %}

{% block head_additions %}
{{ block.super }}

<script type="text/javascript" src="{{ media_url }}js/jquery.js"></script>

<script type="text/javascript">

$(document).ready(function() {
	var current = new Date();
	var month = current.getMonth() + 1;
	var day = current.getDate();
	var year = current.getFullYear();
	var date_str = month + "/" + day + "/" + year;
	$('#id_date').attr('value', date_str);
});

</script>

{% endblock %}

{% block content_admin %}

<h1>Create new session</h1>
<div>To create a new session, you must provide a name, examination dates, and test time length. You will then assign problems to this session and choose the students who are in this session.</div>

<h2>Basic settings</h2>

<form action="/admin/sessions/add/" method="post" enctype="multipart/form-data">
	{{ form.non_field_errors }}
	<div class="input_area">
		{{ form.as_p }}	
		<button>Create Session</button>
	</div>
</form>

{% endblock %}
