{% extends "base_admin.html" %}


{% block head_additions %}
{{ block.super }}

<script type="text/javascript" src="{{ media_url }}js/admin/trends.js"></script>

{% endblock %}


{% block content_admin %}

<h1>Stats</h1>
<table id="stats_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Session</th>
            <th>Average</th>
			<th>Standard Deviation</th>
			<th>Highest</th>
			<th>Lowest</th>
            <th>Finished Students</th>
        </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr class="stat_row" stat_info="{{ session.name }}" stat_num="{{ forloop.counter0 }}">
                    <td class="left">{{ session.name }}</td>
                    <td>{{ session.calculate_statistics.average_score_percentage|floatformat }}%</td>
					<td>{{ session.calculate_statistics.standard_deviation|floatformat|default:"Not available" }}</td>
                    <td>{{ session.calculate_statistics.high_score_percentage|floatformat }}%</td>
					<td>{{ session.calculate_statistics.low_score_percentage|floatformat }}%</td>
					<td>{{ session.calculate_statistics.finished_students_count }}</td>
                </tr>
            {% endfor %}
    </tbody>
</table>

<h1>Grade distribution</h1>
<table style="font-size:10px">
	<tr>
		<td># of students</td>
		<td>
			<div id="grades_graph" style="width:650px;height:300px; margin:0 auto;"></div>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td style="text-align:center">Grade</td>
	</tr>
</table>

{% endblock %}