{% extends "base_admin.html" %}

{% block head_additions %}
{{ block.super }}

<script type="text/javascript" src="{{ media_url }}js/admin/student.js"></script>

{% endblock %}


{% block content_admin %}

<h1>Answers for {{ student.user.last_name }}</h1>

<p>{{ student.user.last_name }} scored {{ student.score }} of {{ question_count }}.</p>

<table id="answers_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Answer</th>
        </tr>
        </thead>
		<tbody>
			{% for answer_sheet in answer_sheets %}
			    <tr class="problem_number_row" apprise_info="<p>{{ answer_sheet.problem.text }}</p>

																<table cellspacing='0' cellpadding='5' style='margin: 0 auto''>
																		{% for answer in answer_sheet.problem.sorted_answers %}  
																    	<tr>
																        	<td class='left'><strong>{{ answer.letter|upper }})</strong></td>
																        	<td>{{ answer.text }}</td>
																    	</tr>
																    	{% endfor %}
																</table>">
			        <td class="left">{{ answer_sheet.problem.number }}</td>
			        {% if answer_sheet.answer %}
			        <td>{{ answer_sheet.answer.letter }} {% if answer_sheet.answer.correct %}<img src="{{ media_url }}images/checkmark.gif" style="height:12px;width:12px;">{% endif %}</td>
			        {% else %}
			        <td>No response</td>
			        {% endif %}
			    </tr>
			{% endfor %}
	</tbody>
</table>

{% endblock %}