{% extends "base_admin.html" %}


{% block head_additions %}
{{ block.super }}

<style>

@import "{{ media_url }}css/jquery-ui-1.8.6.custom.css";
@import "{{ media_url }}js/datatables/media/css/demo_table_jui.css";
@import "{{ media_url }}js/tabletools/css/TableTools.css";

</style>
<!--[if IE]><script language="javascript" type="text/javascript" src="{{ media_url }}js/flot/excanvas.min.js"></script><![endif]-->
<script type="text/javascript" src="{{ media_url }}js/jquery.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/ZeroClipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/js/TableTools.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/datatables/media/js/datatables.numhtml.js"></script>
<script language="javascript" type="text/javascript" src="{{ media_url }}js/flot/jquery.flot.js"></script>
<script language="javascript" type="text/javascript" src="{{ media_url }}js/flot/jquery.flot.selection.js"></script>
<script type="text/javascript" src="{{ media_url }}js/Apprise/apprise-1.5.js"></script>
<link rel="stylesheet" href="{{ media_url }}js/Apprise/apprise.css" type="text/css" />


<script type="text/javascript">

$(document).ready(function() {
	
	// Set up hover cursor for the two tables
	$('.problem_number_row, .grade_row').hover(function() {
			$(this).css('cursor','pointer');
		}, function() {
			$(this).css('cursor','auto');
	});
	
	// Grade clicks
	$('.grade_row').click(function() {
		student_info = $(this).attr('student_info');
		window.location = "/admin/students/" + student_info + "/";
		return false;
	});
	
	// Question distribution clicks
	$('.problem_number_row').click(function() {
		apprise_info = $(this).attr('apprise_info');
		apprise(apprise_info);
		return false;
	});
	
    TableToolsInit.oFeatures.bXls = false;
    TableToolsInit.oFeatures.bCopy = false;
    TableToolsInit.oFeatures.bPrint = false;
    TableToolsInit.oBom.bXls = false;
    TableToolsInit.iButtonHeight = 24;
    TableToolsInit.iButtonWidth = 24;
    TableToolsInit.sSwfPath = "/media/js/tabletools/swf/ZeroClipboard.swf";
    TableToolsInit.sTitle = "Grades";
    
    var grades_table = $('#grades_table').dataTable( {
        "bAutoWidth": false,
        "bJQueryUI": true,
        "bStateSave": true,
        "sScrollY": "325px",
        "bPaginate": false,
        "bLengthChange": false,
        "bScrollCollapse": true,
        "sDom": '<"H"Tf>t',
		"oLanguage": {
			"sEmptyTable": "No students."
		}
    });

    TableToolsInit.sTitle = "Distribution";
        
    var distribution_table = $('#distribution_table').dataTable( {
        "bAutoWidth": false,
        "bJQueryUI": true,
        "bStateSave": true,
        //"sScrollY": "316px",
        "bPaginate": false,
        "bLengthChange": false,
        //"bScrollCollapse": true,
        "sDom": '<"H"Tf>t',
		"oLanguage": {
			"sEmptyTable": "No problem."
		}
    });
    
    $.fn.dataTableExt.afnFiltering.push(
        function( oSettings, aData, iDataIndex ) {
            var iMin = $('#range-low').html();
            var iMax = $('#range-high').html();
            var grade = aData[2]*1;
            if ( iMin == "" && iMax == "" )
            {
                return true;
            }
            else if ( iMin == "" && grade <= iMax )
            {
                return true;
            }
            else if ( iMin <= grade && "" == iMax )
            {
                return true;
            }
            else if ( iMin <= grade && grade <= iMax )
            {
                return true;
            }
            return false;
        }
    );
    
    
    var d1 = eval('{{ grades_distribution }}');

    var plot = $.plot($("#grades_graph"), [
        { 
            label: "",  
            data: d1, 
            bars: { 
                show: true, 
                fill: true,
                lineWidth: 3,
                align: "center",
            },
            //color: "#C1DAD7",
            //color: "rgb(201,222,231)",
            color: "rgb(91,144,151)",
        }
        ], {
            xaxis: {
                ticks: {{ problem_count }},
                tickSize: 1,
                tickDecimals: 0,
                min: -.5,
                max: {{ problem_count }} + 0.5,
            },
            yaxis: {
                min: 0,
                tickSize: 1,
                tickDecimals: 0,
            },
            grid: {
                backgroundColor: { colors: ["#fff", "#eee"] },
                hoverable: true, 
                clickable: true,
                borderWidth: 1,
                borderColor: "#C1DAD7",
                verticalLinesX1: false,
            },
            selection: { 
                mode: "x" ,
            }
    });
    
    $("#grades_graph").bind("plotclick", function (event, pos, item) {
        // secondary axis coordinates if present are in pos.x2, pos.y2,
        // if you need global screen coordinates, they are pos.pageX, pos.pageY
        
        if (item) {
            plot.unhighlight();
            plot.highlight(item.series, item.datapoint);
            $('#range-low').html(item.datapoint[0]);
            $('#range-high').html("");
            grades_table.fnDraw();
        }
    });
        
    $("#grades_graph").bind("plotselected", function (event, ranges) {
        x = Math.round(ranges.xaxis.from);
        y = Math.round(ranges.xaxis.to);
        
        plot.unhighlight();
        i = x;
        while (i <= y) {
            plot.highlight(0, i);
            i++;
        }
        $('#range-low').html(x);
        $('#range-high').html(y);
        grades_table.fnDraw();
    });

    $("#grades_graph").bind("plotunselected", function (event) {
        plot.unhighlight();
        $('#range-low').html("");
        $('#range-high').html("");
        grades_table.fnDraw();
    });	

	$('#grades_table td:first-child').attr('class', $('#grades_table td:first-child').attr('class') + ' left_td');
	$('#distribution_table td:first-child').attr('class', $('#distribution_table td:first-child').attr('class') + ' left_td');
});

</script>
{% endblock %}

{% block content_admin %}
<div id="range-low" style="display:none"></div>
<div id="range-high" style="display:none"></div>

<div class="admin_submenu">
{% for group in exam_groups %}
    <span class="sub_group{% ifequal group exam_group %}_selected{% endifequal %}">
	<a href="/admin/sessions/{{ group.name }}/">{% ifequal group exam_group %} <strong> {% endifequal %} {{ group.name }} {% ifequal group exam_group %} </strong> {% endifequal %}</a> 
	</span>
{% endfor %}
 
</div>

<div>
    <div style="float:right"><a href="/admin/sessions/{{ exam_group.name }}/edit/"><button type="button">Edit Session</a> <a href="/admin/sessions/add/"><button type="button">Create New Session</a></div>
    <p>&nbsp;</p>

<h1>Stats</h1>
{% if stats %}
<ul>
    <li><strong>{{ stats.finished_students_count }}</strong> student{{ stats.finished_students_count|pluralize:" has,s have" }} taken the test out of <strong>{{ stats.total_students_count }}</strong> student{{ stats.total_students_count|pluralize }} (<strong>{{ stats.finished_students_percentage|floatformat }}%</strong>). Currently, <strong>{{ stats.current_students_count }}</strong> student{{ stats.current_students_count|pluralize:" is,s are" }} taking the test right now.</li>
    <li>The average score is <strong>{{ stats.average_score_percentage|floatformat }}% ({{ stats.average_score }} out of {{ stats.question_count }})</strong>.</li>
    <li>The standard deviation is <strong>{{ stats.standard_deviation|floatformat|default:"not available" }}</strong>.</li>
    <li>The highest score is <strong>{{ stats.high_score_percentage|floatformat }}% ({{ stats.high_score }} out of {{ stats.question_count }})</strong>.</li>           
    <li>The lowest score is <strong>{{ stats.low_score_percentage|floatformat }}% ({{ stats.low_score }} out of {{ stats.question_count }})</strong>.</li>
</ul>
{% else %}
<p>This group has no questions or no students yet. To view statistics, you must have assigned both problems and students to this group. Click <a href="">here</a> to configure this group.</p>
{% endif %}

<h1>Grades</h1>

<p>&nbsp;</p>

<table id="grades_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>Student ID</th>
            <th>Grade</th>
        </tr>
   	</thead>
    <tbody>
	    {% for student in finished_students %}
	        <tr class="grade_row" student_info="{{ student.student_id }}">
	            <td class="left">{{ student.user.last_name }}</td>
	            <td>{{ student.user.get_profile.student_id }}</td>
	            <td>{{ student.score }}</td>
	        </tr>
	    {% endfor %}
    </tbody>
</table>

<!-- TODO: Make this work when no one has taken test -->
<h1>Grade distribution</h1>
<table style="font-size:10px">
	<tr>
		<td># of students</td>
		<td>
			<div id="grades_graph" style="width:650px;height:300px; margin:0 auto;"></div>
		</td>
	</tr>
	<tr>
		<td>&nbsp;</td>
		<td style="text-align:center">Grade</td>
	</tr>
</table>

<h1>Question Distributions</h1>
<p>This is a breakdown of student answers for all questions. Click any row to see the question and its answers.</p>

<table id="distribution_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>#</th>
               <th>A</th>
               <th>B</th>
               <th>C</th>
               <th>D</th>
			    {% ifequal exam_group.answers_per_problem 5 %}
               <th>E</th>
				{% endifequal %}
               <th>Unanswered</th>
            </tr>
    </thead>
    <tbody>
        {% for distribution in problem_distributions %}

        <tr class="problem_number_row" apprise_info="<p>{{ distribution.problem.text }}</p>

														<table cellspacing='0' cellpadding='5' style='margin: 0 auto''>
																{% for answer in distribution.problem.sorted_answers %}  
														    	<tr>
														        	<td class='left'><strong>{{ answer.letter|upper }})</strong></td>
														        	<td>{{ answer.text }}</td>
														    	</tr>
														    	{% endfor %}
														</table>">
            <td class="left">
                {{ distribution.problem.number }}
            </td>
            
            {% for answer_distr in distribution.answers %}
            <td>{{ answer_distr.chosen_percentage|floatformat }}% {% if answer_distr.answer.correct %}<img src="{{ media_url }}images/checkmark.gif" style="height:12px;width:12px;">{% endif %} {% if answer_distr.chosen_count > 0 %} <br />({{ answer_distr.chosen_count }}) {% endif %}</td>
            {% endfor %}
            
            <td>{{ distribution.unanswered_percentage|floatformat }}% {% if distribution.unanswered_count > 0 %} <br />({{ distribution.unanswered_count }}) {% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}