{% extends "base_admin.html" %}

{% block head_additions %}
{{ block.super }}

<script type="text/javascript" src="{{ media_url }}js/admin/edit.js"></script>

{% endblock %}

{% block content_admin %}

<h1>Edit session</h1>


<h2>Basic settings</h2>

<form action="/admin/sessions/{{ exam_group.name }}/edit/" method="post">
	<div class="input_area">
		{{ form.as_p }}	
		
		<button>Save</button>
	</div>
</form>
	
	
<h2>Students</h2>

<table id="students_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>Student ID</th>
            <th>Retake</th>
        </tr>
    </thead>
    <tbody>
    	{% for student in all_students %}
      	    <tr class="grade_row" student_info="{{ student.student_id }}">
           		<td class="left">{{ student.user.last_name }}</td>
           		<td>{{ student.user.get_profile.student_id }}</td>
              	<td><a href="/admin/students/{{ student.student_id }}/retake/" class="allow_retake">Allow Retake</a></td>
           </tr>
   		{% endfor %}
    </tbody>
</table>


<h2>Problems</h2>

In the near future, you will be able to choose which problems this session will have, and you will be able to add new problems.
	
{% endblock %}
