{% extends "base.html" %}

{% block title %}
{{ block.super }} Admin
{% endblock %}

{% block head_additions %}

<link rel="stylesheet" href="{{ media_url }}css/csstabs.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ media_url }}css/jquery-ui-1.8.6.custom.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ media_url }}js/datatables/media/css/demo_table_jui.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ media_url }}js/tabletools/css/TableTools.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ media_url }}js/Apprise/apprise.css" type="text/css" />

<script type="text/javascript" src="{{ media_url }}js/jquery.js"></script> 
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/ZeroClipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/js/TableTools.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/datatables/media/js/datatables.numhtml.js"></script>
<script type="text/javascript" src="{{ media_url }}js/flot/jquery.flot.js"></script>
<script type="text/javascript" src="{{ media_url }}js/flot/jquery.flot.selection.js"></script>
<script type="text/javascript" src="{{ media_url }}js/Apprise/apprise-1.5.js"></script>

{% endblock %}

{% block content %}

{% if messages %}
{% for message in messages %}
<p class="error">{{ message }}</p>
{% endfor %}
{% endif %}

<ul id="tabnav">
    <div class="selected_tab{{ tab_number }}">
	<li class="tab1"><a href="/admin/sessions/">Sessions</a></li>
	<li class="tab2"><a href="/admin/trends/">Trends</a></li>
	<li class="tab3"><a href="/admin/settings/">Settings</a></li>
	</div>
</ul>


{% block content_admin %}
	
{% endblock %}

{% endblock %}
