{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<p>Login using your last name and your Trinity Student Identification number. <strong>If your last name contains a space or a hyphen or an apostrophe, please omit it; i.e., "De Niro" is entered as "DeNiro", "Zeta-Jones" is entered as "ZetaJones", and "O'Malley" is entered as "OMalley".</strong> Your student identification number is a seven digit number that should be located in your student orientation packet.</p>

{% if form.errors %}
<p class="error">Login failed. Please try again. If you continue to have problems, email <a href=\"mailto:{{ contact_email }}\">{{ contact_email }}</a>.</p>
{% endif %}

{% if messages %}
{% for message in messages %}
<p class="error">{{ message }}</p>
{% endfor %}
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
	{% csrf_token %}
	<div class="input_area">
		<div class="login">
    		<p><label for="student_num">Student ID:</label> {{ form.username }}</p>
			<p><label for="last_name">Last Name:</label> {{ form.password }}</p>
    		<button>Login</button>
		</div>
	</div>
<input type="hidden" name="next" value="/didlogin/" />
</form>

{% endblock %}
