{% extends "base_admin.html" %}


{% block head_additions %}
<style>

@import "{{ media_url }}css/jquery-ui-1.8.6.custom.css";
@import "{{ media_url }}js/datatables/media/css/demo_table_jui.css";
@import "{{ media_url }}js/tabletools/css/TableTools.css";

</style>
<script type="text/javascript" src="{{ media_url }}js/jquery.js"></script> 
<script type="text/javascript" src="{{ media_url }}js/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/ZeroClipboard/ZeroClipboard.js"></script>
<script type="text/javascript" src="{{ media_url }}js/tabletools/js/TableTools.min.js"></script>


<script type="text/javascript">

$(document).ready(function() {
	TableToolsInit.oFeatures.bXls = false;
	TableToolsInit.oFeatures.bCopy = false;
	TableToolsInit.oFeatures.bPrint = false;
	TableToolsInit.oBom.bXls = false;
	TableToolsInit.iButtonHeight = 12;
	TableToolsInit.iButtonWidth = 12;
	TableToolsInit.sSwfPath = "/media/js/tabletools/swf/ZeroClipboard.swf"
	
	// TODO: Try to make the border below the header on the tables 1 px.
	
	
	var answers_table = $('#answers_table').dataTable( {
		"bAutoWidth": false,
	    "bJQueryUI": true,
	    "bStateSave": true,
        "bPaginate": false,
        "bLengthChange": false,
		// "bScrollCollapse": true,
		"sDom": 't',
	});
});

</script>
{% endblock %}

{% block content_admin %}

<h1>Answers</h1>

{{ student.user.username }} scored {{ student.score }}.

<table id="answers_table" class="data_table display" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>Problem</th>
            <th>Answer</th>
        </tr>
        </thead>
		<tbody>
			{% for answer_sheet in answer_sheets %}
			    <tr>
			        <td class="left">{{ answer_sheet.problem.number }}</td>
			        <td>{{ answer_sheet.answer.letter }} {% if answer_sheet.answer.correct %}<img src="{{ media_url }}images/checkmark.gif" style="height:12px;width:12px;">{% endif %}</td>
			    </tr>
			{% endfor %}
	</tbody>
</table>

{% endblock %}