{% extends "base.html" %}


{% block head_additions %}
<script type="text/javascript" src="/media/js/jquery.js"></script> 
<script type="text/javascript" src="/media/js/hotkeys.js"></script>   
<script type="text/javascript" src="/media/js/exam.js"></script> 
<script type="text/javascript">

$(document).ready(function() {
	
	$("#finish_test_button").click(function() {
	    return checkFinished();
	});
	
	$("#help_link a").click(function() {
		window.open('/popup/instructions/','Instructions','width=830,height=580,scrollbars=1');
		return false;
	});
	
	$("#prev_link").click(function() {
		prevQuestion();
		return false;
	});
	
	$("#next_link").click(function() {
		nextQuestion();
		return false;
	});
	
	$("#periodic_table").click(function() {
		window.open('/media/images/ptable.gif','Periodic Table','width=806,height=580');
		return false;
	});
	
	$(function() {
        $('.rollover').hover(function() {
            var currentImg = $('img', this).attr('src');
            $('img', this).attr('src', $('img', this).attr('hover'));
            $('img', this).attr('hover', currentImg);
        }, function() {
            var currentImg = $('img', this).attr('src');
            $('img', this).attr('src', $('img', this).attr('hover'));
            $('img', this).attr('hover', currentImg);
        });
    });

   	startTest({{ problems|length }}, {{ time_left }});
});
</script>
 
{% endblock %}


{% block content %}

<div id="help_link">
	<a href="#">Help?</a>
</div>

<div id="left_col">
	<div id="timer">
		<p id="timer_string"></p>
	</div>
	
	<div id="question">
		<p>Test loading...</p>
    </div>

	<p id="problem_navigation">
		<a id="prev_link" href="#" class="rollover">
			<img src="/media/images/prv.png" hover="/media/images/prv_h.png" alt="Previous" id="prev_img" /> Previous Question
		</a>
		<span id="pipe_symbol"> | </span>
		<a id="next_link" href="#" class="rollover">
			Next Question <img src="/media/images/nxt.png" hover="/media/images/nxt_h.png" alt="Next" id="next_img" />
		</a>
	</p>
	
	<div class="ender"></div>

	<div id="periodic_table">
		<h1>Periodic Table</h1>
		<div class="note">
			<a href="#">Click table to enlarge.</a>
		</div>

	 	<a href="#">
		  	<img src="/media/images/ptable.png" alt="Periodic Table" />
		</a>
	</div>
</div>
	
<div id="right_col">
	<form id="answer_key_form" action="/end/" method="post">
		<div id="overflow_table">
			<table id="answer_key_header" cellpadding="0" cellspacing="0">
				<caption>Answer Form</caption>
				<thead class="fixed_header">
			 		<tr>
						<th class="left_td" width="35px">#</th>
                       	<th width="35">A</th>
                       	<th width="35">B</th>
                       	<th width="35">C</th>
                       	<th width="35">D</th>
                       	<th width="51">E</th>
                   </tr>
				</thead>
			</table>
			<div id="answer_scroller">
				<table id="answer_key" cellpadding="0" cellspacing="0">
					<tbody id="scrolled_table_content" class="scrollContent">
						
						{% for problem in problems %}
						
						<tr id="answer_form_row_{{ problem.id }}" class="{% if forloop.counter|divisibleby:2 %}alt{% endif %}">


							<td class="left_td" width="35px">
								<a href="#" class="problem_number" onclick="selectQuestion({{ problem.id }}); return false;">
									{{ problem.number }}
								</a>
							</td>

							{% for answer in problem.sorted_answers %}

							<td width="35">
								<!-- TODO: This input name 'problem_[id]' is the same as the one generated by problem.html. It also has the same id. -->
								<input type="radio" name="answer_form_problem_{{ problem.id }}" value="{{ answer.id }}" class="radio_button" onclick="answerSelected('{{ problem.id }}', '{{ answer.id }}');" disabled="disabled" id="answer_form_problem_{{ problem.id }}_answer_{{ answer.id }}" {% if 0 %} checked='checked' {% endif %} />
							</td>

							{% endfor %}

							<td width="15"></td>
						</tr>
						
						{% endfor %}
						
					</tbody>
				</table>
			</div>
			
		</div>
		<p>
			<input type="submit" value="Finish Test" id="finish_test_button" />
		</p>
	</form>
</div>

<div class="ender"></div>

{% endblock %}