{% extends "base.html" %}


{% block head_additions %}
<script type="text/javascript" src="/media/js/jquery.js"></script> 
<script type="text/javascript" src="/media/js/hotkeys.js"></script>   
<script type="text/javascript" src="/media/js/exam.js"></script> 
<script type="text/javascript">

$(document).ready(function() {
	
	$("#FinishTestButton").click(function() {
	    return checkFinished();
	});
	
	$("#help_link a").click(function() {
		window.open('/popup/instructions/','Instructions','width=830,height=580,scrollbars=1');
		return false;
	});
	
	$("#prev_link").click(function() {
		prevQuestion();
		return false;
	});
	
	$("#next_link").click(function() {
		nextQuestion();
		return false;
	});
	
	$("#periodic-table").click(function() {
		window.open('/media/images/ptable.gif','PeriodicTable','width=806,height=580');
		return false;
	});
	
	$(function() {
        $('.rollover').hover(function() {
            var currentImg = $('img', this).attr('src');
            $('img', this).attr('src', $('img', this).attr('hover'));
            $('img', this).attr('hover', currentImg);
        }, function() {
            var currentImg = $('img', this).attr('src');
            $('img', this).attr('src', $('img', this).attr('hover'));
            $('img', this).attr('hover', currentImg);
        });
    });

   	startTest({{ problems|length }});
});
</script>
 
{% endblock %}


{% block content %}

<div id="help_link">
	<a href="#">Help?</a>
</div>

<div id="left_col">
	<div id="timer">
		<p id="timer_string"></p>
	</div>
	
	<div id="question">
		<p>Test loading...</p>
    </div>

	<p id="prevNext">
		<a id="prev_link" href="#" class="rollover">
			<img src="/media/images/prv.png" hover="/media/images/prv_h.png" alt="Previous" id="prev_img" /> Previous Question
		</a>
		<span id="pipe_symbol"> | </span>
		<a id="next_link" href="#" class="rollover">
			Next Question <img src="/media/images/nxt.png" hover="/media/images/nxt_h.png" alt="Next" id="next_img" />
		</a>
	</p>
	
	<div class="ender"></div>

	<h1 id="periodicTableHeader">Periodic Table</h1>
	<div id="periodic-table">
		<div id="pTableNote">
			<a href="#">Click table to enlarge.</a>
		</div>

	 	<a href="#">
		  	<img src="/media/images/ptable.png" alt="Periodic Table" />
		</a>
	</div>
</div>
	
<div id="right_col">
	<form id="answerKeyForm" action="/end/" method="post">
		<div id="overflow_table">
			<table id="answerKeyHeader" cellpadding="0" cellspacing="0">
				<caption>Answer Form</caption>
				<thead class="fixedHeader">
			 		<tr>
						<th class="left_td" width="35px">#</th>
                       	<th width="35">A</th>
                       	<th width="35">B</th>
                       	<th width="35">C</th>
                       	<th width="35">D</th>
                       	<th width="51">E</th>
                   </tr>
				</thead>
			</table>
			<div id="answerScroller">
				<table id="answerKey" cellpadding="0" cellspacing="0">
					<tbody id="scrolled_table_content" class="scrollContent">
						
						{% for problem in problems %}
						
						<tr id="answerFormRow{{forloop.counter}}" class="{% if forloop.counter|divisibleby:2 %}alt{% endif %}">


							<td class="left_td" width="35px">
								<a href="#" id="row_{{ forloop.counter }}_link" onclick="selectQuestion({{ forloop.counter }}); return false;">
									{{ forloop.counter }}
								</a>
							</td>

							{% for answer_choice in answer_choices %}

							<td width="35">
								<input type="radio" name="question_{{ forloop.parentloop.counter }}" value="{{ answer_choice|upper }}" class="radioButton" onclick="answerSelected('{{ problem.id }}', '{{ answer_choice|lower }}');" disabled="disabled" id="row{{ forloop.parentloop.counter }}-input{{ answer_choice|lower }}" {% if 0 %} checked='checked' {% endif %} />
							</td>

							{% endfor %}

							<td width="15"></td>
						</tr>
						
						{% endfor %}
						
					</tbody>
				</table>
			</div>
			
		</div>
		<p>
			<input type="submit" value="Finish Test" id="FinishTestButton" />
		</p>
	</form>
</div>

<div class="ender"></div>

{% endblock %}