{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<p>Login using your last name and your Trinity Student Identification number. <strong>If your last name contains a space or a hyphen or an apostrophe, please omit it; i.e., "Zeta-Jones" is entered as "ZetaJones" and "O'Malley" is entered as "OMalley".</strong> Your student identification number is a seven digit number that should be located in your student orientation packet.</p>

{% if form.errors %}
<p class="error">Login failed. Please try again. If you continue to have problems, email <a href=\"mailto:sbachrac@trinity.edu\">sbachrach@trinity.edu</a>.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">
{% csrf_token %}
<table id="login">
<tr>
    <td><label for="last_name">Last Name: </label></td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td><label for="student_num">Student ID#:</label></td>
    <td>{{ form.password }}</td>
</tr>
<tr>
    <td align="right"></td>
    <td align="left"><input type="submit" value="Login" /></td>
</tr>
</table>

<input type="hidden" name="next" value="/didlogin/" />
</form>

{% endblock %}