{% extends "base.html" %}

{% block content %}

{% if popup %}
<div id="instructions">
{% endif %}

<h1>Instructions</h1>

<p>You are about to take the {{ exam_name }}. The test consists of {{ problem_count }} multiple choice question{{ problem_count|pluralize }} with 5 answers (A through E) for each. You will have {{ exam_length }} to complete the exam.</p>
<p>You should have available a pencil, paper and a calculator to work out problems.  You should use no outside resources. A periodic table will be displayed below each question. To view a larger version of the periodic table, simply click the image. A new window will open, which you can keep open for the duration of your exam.</p>

<p>Once you click "Start Test" below, your timer will begin, and you will have {{ exam_length }} to complete the exam. You can submit the exam before time expires by clicking "Finish Test". If you do not finish in the time limit, your test will automatically be submitted for you. Please note that you have exactly {{ exam_length }} from the time you click the "Start Test" button below to complete the exam, or your exam will be automatically graded after {{ exam_length }}.</p>

<p>When you answer a question, your solutions are automatically saved, so in case of your browser crashing, you will not lose any of your work. If you close the browser window, or your browser crashes, simply reopen your browser and log back in. Your test will continue with your answers intact. Please note that you will not be compensated for time lost. You have exactly {{ exam_length }} regardless of closing your browser or it crashing.</p>

<p>Questions are shown on the left side of the screen. Your answer key is on the right hand side. You can navigate questions by either clicking "Previous Question" or "Next Question." You may also click the question number on the answer key to skip directly to a question. You may skip ahead or return to questions and change answers; only your last entry will be counted. The selected question is highlighted in red on your answer key, and you may only answer the currently selected question.</p>

<p>You may also use just the keyboard answer and navigate the exam. Pressing the left or right arrow key will show the previous or next question. To answer a question, you can type the letter you wish to choose. For example, if you think the answer to Problem 1 is C, then simply press the C key on your keyboard.</p>

<p>While you are free to use any browser, we <b>strongly recommend the latest version of Safari, Chrome, or Firefox</b>. Older versions of Firefox should work fine. Internet Explorer 6 and 7 work satisfactorily. Older versions of Internet Explorer will not work, and you should also avoid Netscape Navigator earlier than version 8. If you are taking the exam on an iPad, you can scroll the answer sheet using 2 fingers.</p>

<p>If you have any questions, please send an email to <a href="mailto://{{ contact_email }}">{{ contact_email }}</a>{% if popup %}.{% else %} and do not start your test. Close this window and wait for a response.{% endif %}</p>

{% if popup %}
</div>
{% endif %}

{% if not popup %}
<form method="post" action="/start/">
	{% csrf_token %}
   	<input type="submit" value="Start Exam" />
</form>
{% endif %}

{% endblock %}