<h1>Question #{{ problem.id }}</h1>
<p>{{ problem.question }}</p>
                
<table id="multipleChoiceTable">     
    <tr>
        <td><strong>a)</strong></td>
        <td>{{ problem.solution_a }}</td>
    </tr>
    <tr>
        <td><strong>b)</strong></td>
        <td>{{ problem.solution_b }}</td>
    </tr>
    <tr>
        <td><strong>c)</strong></td>
        <td>{{ problem.solution_c }}</td>
    </tr>
    <tr>
        <td><strong>d)</strong></td>
        <td>{{ problem.solution_d }}</td>
    </tr>
    <tr>
        <td><strong>e)</strong></td>
        <td>{{ problem.solution_e }}</td>
    </tr>
</table>
