<!-- TODO: On radio buttons. We need to find their answer and do the checked='checked thing for them -->
<h1>Question #{{ problem.number }}</h1>
<p>{{ problem.text }}</p>
       
<form>         
<table id="multipleChoiceTable">   
	{% for answer in problem.answer_set.all %}  
    <tr>
		<td><input type="radio" name="question_{{ problem.id }}" value="{{ answer.letter|upper }}" onclick="answerSelected('{{ problem.id }}', '{{ answer.letter|lower }}');" id="problem{{ problem.id }}-input{{ answer.letter|lower }}" {% if 0 %} checked='checked' {% endif %} /></td>
        <td><strong>{{ answer.letter }})</strong></td>
        <td>{{ answer.text }}</td>
    </tr>
    {% endfor %}
</table>
</form>